.Content-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Content-body section {
  margin: 20vmin 0 10vmin 0;
  padding: 0 20%;
  text-align: center;
}

.Picture {
  height: 30vmin;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Content-body section p {
  margin-top: 10px;
}

.Content-body hr {
  background-color: black;
  height: 1px;
  width: 60%;
}

#Page-thow {
  margin-top: 20vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  hr {
    position: absolute;
    width: 99.9%;
    height: 8px;
    background-color: rgb(0, 214, 0);
    /* animation-name: moveLine;
    animation-duration: 5s;
    animation-timing-function: linear; */
  }
}

#Page-thow ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 0;
  li {
    border: 8px black;
    border-style: double;
    background-color: white;
    border-radius: 20px;
    list-style: none;
    height: 400px;
    width: 15%;
    padding: 10px;
    img {
      width: 15vmin;
    }
  }
}

/* @keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */
