.Content-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}

.Content-body section {
  padding: 0 20%;
  text-align: center;
}

.Picture {
  height: 30vmin;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Content-body p {
  margin-top: 10px;
}
