.Contact {
  display: grid;
  place-items: center;
  align-items: center;
  background-color: rgba(145, 184, 127, 0.733);
  padding: 40px 50px;
}

.Contact-Success, .Contact-Error {
  display: grid;
  align-items: center;
  text-align: center;
  padding: 180px 40px;
  margin-bottom: 40px;
  width: 400px;
  border: 1px solid green;
  h1 {
    font-size: 30px;
    margin: 90px 0;
  }
}

.Contact-Error {
  color: red;
}

form {
  display: grid;
  place-items: start;
  padding: 50px;
  width: 400px;
  margin-bottom: 40px;
  border: 1px solid green;
  h1 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
  }
}

label {
  display: grid;
  margin-bottom: 20px;
  font-size: 25px;
}

input {
  padding: 10px 20px 10px 10px;
  width: 100%;
  border: 0;
  border-radius: 1vh;
  font-size: 20px;
}

input {
  border: 0;
}

textarea {
  padding: 15px 10px;
  width: 400px;
  font-size: 20px;
  height: 20vmin;
  border-radius: 1vh;
  border: 0;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.Button-send, .Btm-Success {
  padding: 10px 30px;
  background-color: rgb(60, 60, 255);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  transition: .1s linear;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px rgba(60, 60, 255, 0.466);
    cursor: pointer;
  }
}

.Button-send:disabled {
  background-color: rgba(60, 60, 255, 0.596);
  &:hover{
    cursor: progress;
    transform: scale(1);
    box-shadow: none;
  }
}

.Button-clear {
  padding: 10px 30px;
  background-color: rgb(255, 60, 60);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  transition: .1s linear;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px rgba(255, 60, 60, 0.466);
    cursor: pointer;
  }
}

.Button-clear:disabled {
  background-color: rgba(255, 60, 60, 0.479);
  &:hover{
    cursor: not-allowed;
    transform: scale(1);
    box-shadow: none;
  }
}
