* {
  margin: 0;
}

header {
  height: 15vh;
  padding: 5px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav-superior {
  width: 45%;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.Logo-rasengam {
  margin: 0;
  height: 10vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 0.1s linear;
  filter: drop-shadow(0px 0px 30px rgb(1, 39, 255));
}

header button {
  background-color: black;
  width: 25px;
  height: 25px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
}

.Button-0 {
  background-color: white;
  border-color: white;
  color: white;
}
