.Content-loading {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 59vmin;
  font-family: "SUSE", sans-serif;
}

.Content-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "SUSE", sans-serif;
}

.Content-first-page {
  margin: 10vmin 0 10vmin 0;
  padding: 0 20%;
  text-align: center;
}

.Picture {
  height: 30vmin;
  border-radius: 50%;
  margin-bottom: 10px;
  filter: drop-shadow(0px 6px 3px rgb(0, 0, 0));
  transition: .2s linear;
}

.Picture:hover {
  transform: scale(1.1);
  box-shadow:  0px 15px 13px rgba(0, 0, 0, 0.459);
}

.Content-main h1 {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 28px;
}

.Content-first-page p {
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0;
}


.Link-Trybe {
  display: inline-flex;
  text-decoration: none;
  background-color: rgb(4, 214, 4);
  border-radius: 10px;
  padding: 0 5px;
  height: 11px;
  align-items: end;
}

.Link-Trybe:hover {
  transform: scale(1.1);
}

.Content-main hr {
  margin-top: 10vmin;
  height: 1px;
  width: 60%;
  background-color: black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.541);
  border-radius: 40%;
}

#Page-thow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  hr {
    position: absolute;
    width: 99.9%;
    height: 8px;
    background-color: rgb(0, 214, 0);
  }
}

.Content-description {
  text-align: center;
  padding: 0 20%;
  margin: 10vmin 0;
  font-size: 19px;
  font-weight: 600;
}

#Page-thow ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 0;
  li {
    border: 8px;
    border-radius: 20px;
    list-style: none;
    height: 450px;
    width: 15%;
    padding: 10px;
    transition: .2s linear;
    img {
      width: 15vmin;
    }
  }
}

#Page-thow ul li:hover {
  transform: scale(1.1);
}

.Item-theme-1 {
  box-shadow: 
    inset 0px 0px 20px rgba(0, 0, 0, 0.596),
    inset 0px 0px 10px rgba(0, 0, 0, 0.007),
    0px 0px 10px rgba(0, 0, 0, 0.596)
  ;
}
  
.Item-theme-1:hover {
  box-shadow:
    inset 0px 0px 15px rgba(0, 0, 0, 0.596),
    inset 0px 0px 5px rgba(0, 0, 0, 0.596),
    0px 0px 5px rgba(0, 0, 0, 0.596)
  ;
}

.Item-theme-0 {
  box-shadow:
    inset 0px 0px 50px rgba(255, 255, 255, 0.863),
    inset 0px 0px 5px rgb(187, 203, 238),
    0px 0px 20px rgba(255, 255, 255, 0.541)
  ;
}

.Item-theme-0:hover {
  box-shadow:
    inset 0px 0px 55px rgb(255, 255, 255),
    inset 0px 0px 10px rgb(187, 203, 238),
    0px 0px 50px rgba(255, 255, 255, 0.541)
  ;
}
