.Content-loading {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 59vmin;
  font-family: "SUSE", sans-serif;
}

#Page-thow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Content-description {
  text-align: start;
  padding: 10% 20%;
  margin: 10vmin 0;
  font-size: 19px;
  font-weight: 600;
  background-color: black;
  color: white;
  font-size: 22px;
  letter-spacing: 0px;
  word-spacing: 5px;
  line-height: 1.6em;
}

.ScrollSecundary {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 30vh;
  div {
    bottom: 150px;
    position: relative;
    height: 1350px;
  }
}

.ImgScroll {
  padding-top: 150px;
  width: 600px;
  top: 5vw;
  position: sticky;
}

#Page-thow ul {
  width: 90vh;
  z-index: 0;
  li {
    list-style: none;
    padding: 5px;
    height: auto;
    margin-bottom: 20vmin;
    transition: .2s linear;
    font-size: 48px;
    p {
      font-size: 22px;
      letter-spacing: 0px;
      word-spacing: 5px;
      line-height: 1.6em;
    }
    div {
      text-align: center;
      height: 100%;
    }
  }
}

/* #Page-thow ul li:hover {
  transform: scale(1.1);
} */

/* .Item-theme-1 {
  box-shadow: 
    inset 0px 0px 20px rgba(0, 0, 0, 0.596),
    inset 0px 0px 10px rgba(0, 0, 0, 0.007),
    0px 0px 10px rgba(0, 0, 0, 0.596)
  ;
}
  
.Item-theme-1:hover {
  box-shadow:
    inset 0px 0px 15px rgba(0, 0, 0, 0.596),
    inset 0px 0px 5px rgba(0, 0, 0, 0.596),
    0px 0px 5px rgba(0, 0, 0, 0.596)
  ;
} */

/* .Item-theme-0 {
  box-shadow:
    inset 0px 0px 50px rgba(255, 255, 255, 0.863),
    inset 0px 0px 5px rgb(187, 203, 238),
    0px 0px 20px rgba(255, 255, 255, 0.541)
  ;
}

.Item-theme-0:hover {
  box-shadow:
    inset 0px 0px 55px rgb(255, 255, 255),
    inset 0px 0px 10px rgb(187, 203, 238),
    0px 0px 50px rgba(255, 255, 255, 0.541)
  ;
} */
