.Content-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "SUSE", sans-serif;
}

.Content-first-page {
  margin: 10vmin 0 10vmin 0;
  padding: 0 20%;
  text-align: center;
}

.Picture {
  height: 30vmin;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Content-main h1 {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 28px;
}

.Content-first-page p {
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0;
}

.Content-description {
  text-align: center;
  margin-top: 10vmin;
  padding: 0 20%;
}

.Content-description p {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}

.Content-main hr {
  margin-top: 10vmin;
  background-color: black;
  height: 1px;
  width: 60%;
}

#Page-thow {
  margin-top: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  hr {
    position: absolute;
    width: 99.9%;
    height: 8px;
    background-color: rgb(0, 214, 0);
  }
}

#Page-thow ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 0;
  li {
    border: 8px;
    border-style: double;
    border-radius: 20px;
    list-style: none;
    height: 450px;
    width: 15%;
    padding: 10px;
    img {
      width: 15vmin;
    }
  }
}

