.List-projects {
  margin: 10vmin 70px 20vmin 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.List-projects hr {
  height: 10%;
  width: 100%;
  margin-bottom: 40px;
}

.List-projects ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.List-projects img {
  width: 40vmin;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  opacity: 0.8;
}

.List-projects img:hover {
  opacity: 1;
  transform: scale(1.04);
}

.List-projects li {
  flex-grow: 0;
  flex-basis: 10%;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 10px 0 10px;
  border: 1px solid gray;
  border-radius: 20px;
}

.List-projects p {
  padding: 0 15px 15px;
}

