@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@200&display=swap');

/* ::-webkit-scrollbar {
  width: 0px;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SUSE', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 920px) {
  
}
