.Header-Mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.Header-Primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

.Title-Header {
  display: flex;
  align-items: center;
  h2 {
    font-size: 20px;
    margin-left: 5px
  }
}

.Header-stage2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.Img-Logo {
  width: 30px;
  animation: App-logo-spin 6s infinite linear;
}

.Navegation-Header-Open {
  transition: all 1s;
  margin: 10px 0 0 30%;
}

.Navegation-Header-Close {
  display: none;
}

.Navegation {
  margin: 0 10px 5px 10px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 18px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
