.Portfolio-home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all .5s linear;
  background-color: var(--background);
}

.portfolio-section {
  position: relative;
  display: grid;
}

.portfolio-section::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: -25%;
  right: 4%;
  width: 1px;
  background-color: var(--border);
}

.timeline-item {
  position: absolute;
  height: 100%;
  right: 5%;
  opacity: .3;
  z-index: 0;
  p {
    position: sticky;
    margin-right: 10px;
    top: 20%;
    font-size: 20px;
    font-weight: 700;
  }
}