.Contact-footer {
  padding: 8% 20%;
  h3 {
    text-align: center;
  }
}

.footer-header {
  display: flex;
  align-items: end;
  padding-bottom: 10vmin;
}

.box-buttons {
  padding-bottom: 10px;
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  align-items: start;
  height: 70%;
  justify-content: space-between;
  div {
    display: flex;
    align-items: end;
  }
}

.Picture-Desktop {
  height: 10vmin;
  border-radius: 20%;
  background-color: var(--surface-2);
  padding: 5px;
  filter: saturate(30%) opacity(.8);
}

.portfolio-section-footer {
  position: relative;
  display: grid;
}

.portfolio-section-footer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 4%;
  width: 1px;
  background-color: var(--border);
}

.timeline-item-footer {
  position: absolute;
  height: 50%;
  right: 5%;
  opacity: .3;
  z-index: 0;
  p {
    position: sticky;
    margin-right: 10px;
    top: 20%;
    font-size: 20px;
    font-weight: 700;
  }
}

/* .Contact-footer {
  background-color: rgba(228, 228, 228, 0.397); 
  color: black;
  input {
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
  }
  input:hover {
    background-color: rgba(0, 0, 0, 0.658);
  }
  textarea {
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
  }
  textarea:hover {
    background-color: rgba(0, 0, 0, 0.658);
  }
} */

.Footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vmin;
}

.Contact-links {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 2px 10px;
  transition: .2s;
  color: var(--primary);
}

.links:hover {
  transform: scale(1.02);
  color: var(--primary-light);
}

.links:active {
  transform: scale(1);
}

.Button-Email {
  background-color: var(--border);
  border: 1px solid var(--border);
  color: var(--primary-light);
  border-radius: 10px;
  padding: 2px 10px;
  font-size: clamp(.8rem, 1vw, .9rem);
  cursor: pointer;
  margin-right: 30px;
  transition: all .2s ease;
}

.Button-Email:hover, .btm-home:hover {
  transform: scale(1.05);
  color: var(--primary);
  box-shadow: 0px 0px 5px 1px var(--primary-light);
}

.btm-home {
  background-color: transparent;
  color: var(--primary);
  border: 0;
  font-size: 16px;
  margin-top: 2px;
  cursor: pointer;
}

.Autor-Desktop {
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid var(--border);
} 

.footer-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin-right: 15px;
  }
}

.Versiculo-Desktop {
  margin-top: 20px;
  text-align: end;
  font-size: 12px;
  :nth-child(1) {
    font-style: italic;
  }
}
