* {
  margin: 0;
}

header {
  height: 10vh;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #121A16;
}

.Icon-header {
  display: flex;
  align-items: center;
  h2 {
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
  }
}

.Icon-profile {
  margin-right: 10px;
  height: 35px;
  animation: App-logo-spin 50s infinite linear;
}

.Nav-superior {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Links-Header {
  display: flex;
  text-decoration: none;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1rem);
  margin: 0 1px;
  transition: all .1s linear;
  color: #7FAF8C;
  border-bottom: 1px
}

.Links-Header:hover {
  transform: scale(1.02);
  color: #A8C7A8;
  border-bottom-style: solid;
}

.Nav-superior a:active {
  transform: scale(1);
}

.Button-CV-Desktop-1, .Button-CV-Desktop-0 {
  font-family: 'Manrope';
  font-size: clamp(.8rem, 1vw, .9rem);
  border: 1px solid #26342C;
  background-color: #26342C;
  color: #7FAF8C;
  border-radius: 10px;
  padding: 0 5px;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
}

.Button-CV-Desktop-1:hover, .Button-CV-Desktop-0:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 1px #A8C7A8;
  color: #A8C7A8;
}

.Button-CV-Desktop-1:active, .Button-CV-Desktop-0:active {
  transform: scale(.9);
  box-shadow: 0px 0px 1px 1px #A8C7A8;
  color: #7FAF8C;
}

.Button-1 {
  background-image: url('../../assets/imgs/icons/icons8-lua.png');
  background-position: center;
  background-size: 35px;
  padding: 10px;
  border: none;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  transition: all .2s;
}

.Button-0:hover, .Button-1:hover {
  transform: scale(1.1);
}

.Button-0 {
  background-image: url('../../assets/imgs/icons/icons8-sol.png');
  background-position: center;
  background-size: 35px;
  padding: 10px;
  border: none;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  transition: all .2s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
