* {
  margin: 0;
}

header {
  height: 10vh;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: var(--surface);
}

.Icon-header {
  display: flex;
  align-items: center;
  h2 {
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
  }
}

.Icon-profile {
  margin-right: 10px;
  height: 35px;
  animation: App-logo-spin 50s infinite linear;
  filter: drop-shadow(0px 0px 1px #121814);
}

.Nav-superior {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Links-Header {
  display: flex;
  text-decoration: none;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1rem);
  margin: 0 1px;
  transition: all .1s linear;
  border-bottom: 1px
}

.Links-Header:hover {
  transform: scale(1.02);
  color: var(--primary-light);
  border-bottom-style: solid;
}

.Nav-superior a:active {
  transform: scale(1);
}

.Button-CV-Desktop, .Button-CV-Desktop {
  font-family: 'Manrope';
  font-size: clamp(.8rem, 1vw, .9rem);
  border: 1px solid var(--border);
  background-color: var(--border);
  border-radius: 10px;
  padding: 0 5px;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
}

.Button-CV-Desktop:hover, .Button-CV-Desktop:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 1px var(--primary-light);
}

.Button-CV-Desktop:active, .Button-CV-Desktop:active {
  transform: scale(.9);
  box-shadow: 0px 0px 1px 1px var(--primary-light);
  color: var(--primary);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
