.Content-loading {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 59vmin;
  font-family: "SUSE", sans-serif;
}

.Page-thow-Desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Content-description-Desktop {
  text-align: start;
  padding: 12% 25%;
  margin: 0;
  background-color: var(--surface-2);
  letter-spacing: 0px;
  word-spacing: 5px;
  line-height: 1.6em;
}

.Page-tree-Desktop {
  padding: 20vmin;
}

.Section-Stacks {
  h1 {
    margin: 30px 0;
  }
}

.Section-Stacks ul {
  display: flex;
  flex-direction: column;
  z-index: 0;
  padding: 0 50px;
  li {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border);
    list-style: none;
    padding: 50px 25px;
    transition: .2s linear;
    h3 {
      margin-top: 10px;
      width: fit-content;
    }
  }
}

.Stack-description {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.Stack-box-description-tags {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.Galery-Certificates {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 40%;
  margin-top: 20px;
}

.boxLink-certificates {
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 113px;
  background-color: var(--surface-2);
  padding: 5px;
  border: 1px solid var(--border);
  border-radius: 5px;
  filter: saturate(70%) opacity(.7);
  transition: all .2s ease;
  img {
    height: 80px;
    border-radius: 5px;
  }
  p {
    font-size: 12px;
    text-align: start;
  }
}

.boxLink-certificates:hover {
  transform: scale(1.02);
  background-color: var(--border);
  border-color: var(--surface-2);
  box-shadow: 0 0 30px 10px var(--surface-2);
  filter: saturate(100%) opacity(1);
}

.Box-imgs {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.First-box-img {
  display: flex;
  img {
    height: 19px;
    border-radius: 10px;
  }
}

.Secund-box-img {
  display: flex;
  align-items: center;
  img {
    margin-left: 4px;
    height: 18px;
    border-radius: 10px;
  }
}

.New-Icon-format {
  display: flex;
  align-items: center;
  background-color: #252323;
  padding: 4px 6px;
  width: fit-content;
  border-radius: 20px;
  margin-left: 4px;
  cursor: default;
  filter: saturate(70%) opacity(.7);
  img {
    height: 12px;
    margin: 0;
  }
  p {
    margin-left: 6px;
    font-size: 7px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.6em;
  }
}

.Tag-img {
  filter: saturate(70%) opacity(.7);
}

.New-Icon-format:hover, .Tag-img:hover {
  filter: saturate(100%) opacity(1);
}
