.List-projects-Desktop {
  display: flex;
  flex-direction: column;
  padding: 20vmin 0;
  background-color: var(--surface-2);
}

.Projects-title-Desktop {
  padding: 0 20vmin;
  h1 {
    width: fit-content;
    margin-bottom: 40px;
  }
  p {
    width: 55%;
    padding: 20px;
    border-bottom: 1px solid var(--border);
  }
}

.Projects-Desktop {
  margin-top: 60px;
  width: auto;
  padding: 0 25vmin;
}

.Project-card-Desktop {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: 0.2s;
  margin: 20px;
  justify-content: space-between;
  padding: 10px 10px 40px;
}

.Project-description-Desktop {
  display: flex;
  border-bottom: 1px solid var(--border);
  padding-bottom: 20px;
}

.Descriptio-tags {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.Project-Bunner-Desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vmin;
  height: 9vmin;
  border-radius: 5px 0 0 5px;
  background-size: 100%;
  transition: background-size 0.01s;
  -webkit-transition: background-size 1s;
  background-position: center;
  opacity: .7;
}

.New-Icon-format {
  border: 1px solid var(--border);
}

.Project-Tags-Desktop {
  text-align: end;
}

.Project-technologies-Desktop {
  display: flex;
  list-style: none;
  margin-top: 10px;
  padding: 0;
  li {
    margin-left: 5px;
  }
}

.Header-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Link-GitHub {
  text-decoration: none;
  margin-left: 20px;
  font-size: 12px;
  background-color: var(--border);
  padding: 1px 5px;
  text-align: center;
  border-radius: 15px;
  transition: all .2s ease;
}

.Link-GitHub:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px .1px var(--primary-light);
  color: var(--primary-light);
}

.Box-quote {
  padding: 20px 30vmin;
  display: flex;
  justify-content: end;
}

.Quote-Desktop {
  text-align: end;
  width: 50%;
}
