.Content-First-Mobile {
  text-align: center;
  margin: 33vmin 0 10vmin 0;
}

.Picture-Mobile {
  width: 32vmin;
  border-radius: 50%;
  transition: .2s linear;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.836);
  background-color: rgb(127, 160, 7);
  padding: 1px;
}

.Content-First-Mobile {
  h1 {
    margin: 10px 0;
    font-weight: 800;
    font-size: 25px;
  }
  h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

#Page-thow-Mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 45vmin;
}

.Title-Description {
  font-size: 38px;
  margin: 0 0 50px 10px;
  font-weight: 800;
  background-color: gold;
  width: 32px;
  border-radius: 5px;
}

.Content-description-Mobile {
  font-size: 15px;
  padding: 40px 10px;
  text-align: center;
  font-weight: 600;
  background-color: black;
  color: white;
  letter-spacing: 0px;
  word-spacing: 5px;
  line-height: 1.6em;
}

.Image-Mobile {
  width: 60px;
  height: 30px;
  box-shadow: 0px 0px 30px 4px rgb(201, 201, 201);
  background-size: cover;
  background-position: center;
  background-image: url("../../imgs/frontend.png");
}

.ScrollSecundary-1-Mobile {
  padding-top: 20vmin;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  background-color: rgb(228, 228, 228);
  ul {
    padding: 0 10px 0 20px;
    margin-bottom: 30vmin;
  }
  li {
    list-style: none;
    margin-top: 30px;
    h2 {
      margin-bottom: 10px;
    }
    p {
      font-size: 15px;
      letter-spacing: 0px;
      word-spacing: 5px;
      line-height: 1.6em;
      margin-bottom: 10px;
    }
  }
}
